/* --- DEBUT Reset CSS --- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

/* --- FIN Reset CSS --- */


/* --- DEBUT CSS classique --- */
@page {
  margin: 0%;
}

body {
  height: 1056px;
  text-align: justify;
  font-size: 11pt;
  font-family: 'Roboto', Courier, monospace;
}

h1 {
  font-weight: bold;
  font-size: 15pt;
  text-transform: uppercase;
  padding-bottom: 4px;
}

strong {
  font-weight: bold;
}


/* --- FIN CSS classique --- */


/* --- DEBUT Classe --- */
.column {
  position: relative;
  height: 100%;
}

.column:first-child {
  width: 30%;
  color: white;
  background-color: #10657e;
}

.column:nth-child(2) {
  width: 70%;
  color: black;
  background-color: white;
}

.column:nth-child(2) h1 {
  color: #10657e;
}

.description {
  /* border: 1px solid green; */
  border-top: 1px black solid;
  padding-top: 15px;
  margin: auto;
  margin-top: 15px;
  width: 78%;
}

.description .progress_bar {
  width: 75%;
  background-color: rgba(180, 180, 180, 0.3);
}

.description .progress_bar .foreground {
  background-color: white;
}

.description .item {
  padding: 9px 0px 20px 0px;
}

.description .item:first-of-type {
  padding-top: 0px;
}

.parcours {
  /* border: 1px solid greenyellow; */
  border-top: 1px #10657e solid;
  margin: 0px 30px 0px 0px;
  padding: 10px 0px 20px 30px;
}

.parcours ul {
  padding-left: 20px;
  list-style-position: inside;
  list-style: disc;
}

.item {
  padding: 10px 0px 0px 0px;
}

.item:first-of-type {
  padding-top: 0px;
}

.black_font {
  color: black;
}

/* Creation d'une progressbar */
.progress_bar {
  display: block;
  position: absolute;
  width: 35%;
  height: 15px;
  border-radius: 2px;
  background-color: rgba(180, 180, 180, 0.8);
}

.progress_bar .foreground {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: #10657e;
  transform-origin: left center;
  animation-name: progress_bar_anim;
  animation-duration: 1s;
}

.progress_bar>p {
  font-size: 10pt;
  text-align: right;
}

/* --- FIN Classe --- */


/* --- DEBUT Id --- */
#main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#logo {
  margin: auto;
  margin-top: 20px;
  display: block;
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  text-align: center;
  background-image: url("../icons/photo.JPG");
}

#title {
  margin: 15px 30px 0px 0px;
  padding: 10px 0px 20px 30px;
}

#title h1 {
  font-size: 18pt;
  text-transform: none;
}

#title h2 {
  font-size: 20pt;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  padding: 5px 0px 10px 0px;
}

#personnal_data {
  padding: 20px 0px 0px 0px;
}

#personnal_data li {
  list-style-position: inside;
  line-height: 16px;
  padding: 1px 0px 1px 0px;
}

#phone {
  color: white;
  list-style-image: url("../icons/phone.svg");
}

#mail {
  list-style-image: url("../icons/mail.svg");
}

#adress {
  list-style-image: url("../icons/home.svg");
}

#car {
  list-style-image: url("../icons/car.svg");
}

#internet {
  list-style-image: url("../icons/internet.svg");
}

#linkedin {
  list-style-image: url("../icons/linkedin.svg");
}

#github {
  list-style-image: url(../icons/github-mark.png);
}

#skills {
  padding-left: 8px;
  list-style-position: inside;
  list-style: disc;
}

#skills > li > ul {
  padding-left: 8px;
  list-style-position: inside;
  list-style: circle;
  margin-bottom: 5px;
}

/* --- FIN Id --- */

/* --- DEBUT Animation ---  */
@keyframes progress_bar_anim {
  from {
    transform: scaleX(0)
  }

  to {
    transform: scaleX(attr(value))
  }
}

/* --- FIN Animation ---*/